
.play1{
    margin: 12px;
    background-color: black;
    padding-bottom: 10px;
}
h1{
    color: #ccc;
    padding-left: 10px;
}
.accordion{
    margin: 0px;
}
.play2{
    margin: 12px;
    background-color: orange;
    padding: 10px;
}
.H2{
    color: blue;
}